[Unit]
Description=Mindfish development server

[Service]
Type=simple
User=alexander
ExecStart=/home/alexander/go/src/github.com/xyproto/mindfish/compileloop.sh &
WorkingDirectory=/home/alexander/go/src/github.com/xyproto/mindfish
PIDFile=/tmp/mindfishweb.pid
Environment=GOPATH=/home/alexander/go

[Install]
WantedBy=multi-user.target
