<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>{{.title}}</title>
  <link rel="shortcut icon" href="favicon.ico">
  <style>
    body {
      margin: 4em;
      background: black;
      color: red;
    }
    a {
      text-decoration: none;
      color: #a0a0a0;
      font-size: 1.5em;
    }
    a:hover {
      color: red;
    }
    div {
	text-align: center;
    }
  </style>
</head>
<body>
  <div>
    <img width="{{.width}}" height="{{.height}}" src="{{.imgsrc}}" alt="{{.title}}">
  </div>
  <div>
  <script>
    document.write(new Date().getFullYear());
  </script>
  </div>
</body>
</html>
